@{
  Layout = "_Layout"
}

@using Salon.Models;
@model Salon.Models.Stylist;

<h2>Stylist details</h2>
<hr />
<h3>Name: @Html.DisplayFor(model => model.StylistName)</h3>

<ul>
  @if (@Model.Stylist.Count == 0)
  {
    <p>No stylist found</p>
  }

  @foreach (Client client in @Model.Stylist)
  {
    <li>Client: @client.ClientName</li>
  }
</ul>

<p>@Html.ActionLink("Edit Stylist", "Edit", new {id = Model.StylistId})</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new {id = Model.StylistId})</p>
<p>@Html.ActionLink("Back to Stylists", "Index")</p>